input[type=submit]{
	width: 200px;
	height: 40px;
	border: none;
	padding: 10px;
	background-color: black;
	color: white;
}

input[type=submit]:hover{
	background-color: red;	
	color: white;
}

button{
	font-size: 18px;
	width: 200px;
	height: 40px;
	padding: 5px;
	border: none;
	display: inline-block;
	background-color: black;
	color: white;
}

button:hover{
	background-color: red;
	color: white;
}

body{
	font-size: 18px;
}

tr{
	height: 35x;
}

th{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 0px;
	height: 40px;
}

td{
	min-width: 50px;
	
	font-size: 18px;
	text-align: right;
	padding: 10px;
}

#form{
	width: 400px;
	float: center;
	font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

input{
	width: 40%;
	padding: 5px;
	text-align: center;
	font-size: 18px;
}